{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Beitragsentscheidung
{% endblock %}

{% block content %}

    <p align="center">
        <b><font size="5"> Runde {{ subsession.round_number }} von {{ Constants.num_rounds }}</font></b>
    </p>

    <p>
        Ihre Aufgabe (wie auch die Aufgabe Ihrer Mitspieler) besteht darin zu entscheiden,
        wie viele LD sie zum <b>gemeinsamen Projekt</b> beitragen möchten.
    </p>

    <p>
        <b>Mein Beitrag ist:</b> {% formfield player.contribution label="" %}
    </p>

    <p>
        <b>Hinweis</b>: Ihr Beitrag kann zwischen <b>0</b> und <b>100</b> LD liegen.
    </p>

    {% next_button %}

{% endblock %}

