{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Auszahlung
{% endblock %}

{% block content %}
<p>Hiermit haben Sie die letzte Phase beendet.<br></p>
    <table class="table table-striped table-hover"style="width: 50%;">
        <caption><b>Hinweis</b>.  Alle Angaben in <b>LaborDollar</b> (LD).</caption>
        <thead>
        <th  class="text-center">Phase</th>
        <th  class="text-center">Ihre Auszahlung</th>
        <th  class="text-center">Auszahlungsrelevant</th>
        </thead>
        <body>
            <tr>
                <td align="center">1</td>
                <td align="center">{{ pay_phase1 }}</td>
                <td align="center">{% if player.pay_round == 1 %}X{% else %}{% endif%}</td>
            </tr>
            {% if Constants.num_phase > 1 %}
            <tr>
                <td align="center">2</td>
                <td align="center">{{ pay_phase2 }}</td>
                <td align="center">{% if player.pay_round == 2 %}X{% else %}{% endif%}</td>
            </tr>
            {% elif Constants.num_phase > 2 %}
            <tr>
                <td align="center">3</td>
                <td align="center">{{ pay_phase3 }}</td>
                <td align="center">{% if player.pay_round == 3 %}X{% else %}{% endif%}</td>
            </tr>
            {% elif Constants.num_phase > 3 %}
            <tr>
                <td align="center">4</td>
                <td align="center">{{ pay_phase4 }}</td>
                <td align="center">{% if player.pay_round == 4 %}X{% else %}{% endif%}</td>
            </tr>
            {% elif Constants.num_phase > 4 %}
            <tr>
                <td align="center">5</td>
                <td align="center">{{ pay_phase5 }}</td>
                <td align="center">{% if player.pay_round == 5 %}X{% else %}{% endif%}</td>
            </tr>
            {% endif %}
        </body>
    </table>
        <p>Welche Phase für Sie auszahlungsrelevant wird, wurde zufällig ausgewählt:</p>
    <div class=a>
        <p>Phase {{ player.pay_round }} wird für Sie auszahlungsrelevant.</p>
    </div>
    <table>
        <tr>
             <thead class="table-dark">
                <th></th>
                <th></th>
                <th>Ihre Auszahlung:</th>
                <th><b>{{ player.total_payoff }}</b></th>
             </thead>
        </tr>
    </table>
    <br>
    <p>
        Bitte melden Sie sich, wenn Sie eine Frage haben. Nutzen Sie hierfür bitte unseren <b>Chat</b>, der Ihnen
        unten rechts auf der Seite angezeigt wird. Wenn Sie keine weiteren Fragen haben, klicken Sie bitte auf
        <b>Next</b>.
    </p>
    <br>
    {% next_button %}

{% include Constants.chat_template %}
{% endblock %}
