{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Auszahlung
{% endblock %}

{% block content %}

    <table class="table table-striped table-hover">
        <thead>
        <th>Runde</th>
        <th>Ihr Beitrag</th>
        <th>Duchschnittlicher Beitrag Ihrer Gruppe</th>
        <th>Ihre Auszahlung</th>
        </thead>
        <body>
        {% for p in player.in_all_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>{{ p.contribution }}</td>
                <td>{{ p.group.avg_contribution }}</td>
                <td>{{ p.payoff }}</td>
            </tr>
        {% endfor %}
        </body>
        <tr>
             <thead class="table-dark">
                <th></th>
                <th></th>
                <th>Ihre kumulierte Auszahlung:</th>
                <th><b>{{ player.cum_payoff }}</b></th>
             </thead>
        </tr>
    </table>

    {% next_button %}

{% include Constants.chat_template %}
{% endblock %}
