{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instruktionen
{% endblock %}

{% block styles %}
<style type="text/css">
    #heading{
        position: fixed;
        right: 10%;
        width: 7%;
        top:7%;
        padding: 10px;
    }
     #Introbut{
        position: fixed;
        right: 1.6%;
        width: 16%;
        top:12.5%;
        padding: 10px;
    }
    #button1 {
    position: fixed;
    right: 2%;
    width: 14%;
    top:16%;
    padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 36px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button1:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button1:active {
    position: fixed;
    right: 2%;
    width: 14%;
    top:16%;
    padding: 10px;
    }
    #button2 {
    position: fixed;
    right: 2%;
    width: 14%;
    top:40%;
    padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 36px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button2:active {
    position: fixed;
    right: 2%;
    width: 20%;
    top:40%;
    padding: 10px;
    }
    #table1{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .tg  {position:relative; left:-10%; border-collapse:collapse;border-spacing:0;width: 100%;}
    .tg .rotate{width: 30%}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:6px 3px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:6px 3px;word-break:normal;}
    .tg .tg-pb0m{border-color:transparent;text-align:center;vertical-align:middle}
    .tg .tg-za14{border-color:transparent;text-align:left;vertical-align:middle}
    .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
    .tg .rotate{border-color:transparent;text-align:center;vertical-align:middle}
    
    .rotate {
      /* FF3.5+ */
      -moz-transform: rotate(-90.0deg);
      /* Opera 10.5 */
      -o-transform: rotate(-90.0deg);
      /* Saf3.1+, Chrome */
      -webkit-transform: rotate(-90.0deg);
      /* IE6,IE7 */
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
      /* IE8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
      /* Standard */
      transform: rotate(-90.0deg);
      white-space: nowrap;
    }
     #Introbut2{
        position: fixed;
        right: 1.6%;
        width: 16%;
        top:20%;
        padding: 10px;
    }
    #result{
        position: fixed;
        right: 1.6%;
        width: 16%;
        top:44%;
        padding: 10px;
        font-weight : bold;
    }
    video.im6 {
  max-width:100%;
  max-height:100%;
}
</style>
{%  endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript">
    function showhide()
        {
        var div = document.getElementById("table1");
        if (div.style.display === "none") {
        div.style.display = "block";
        window.location='#table1';
        } else {
        window.location='#rules';
        div.style.display = "none";
        }
        }

    function update(value) {
    document.getElementById('screen').innerHTML += value;
    }

    function result() {
        document.getElementById('screen').innerHTML = eval(document.getElementById('screen').innerHTML);
    }

    function del() {
        document.getElementById('screen').innerHTML = "";
    }
    var original = "white"
    var dieid ="tabval1400"
     function ch1(){
      own=document.getElementById("textInput1").value;
      oth=document.getElementById("textInput2").value;
      if(own<0 | own>100 | own % 5 != 0 | oth<0 | oth>100 | oth % 5 != 0 ){
        document.getElementById("result").innerHTML="Die angegebenen Beiträge müssen<br>a) zwischen 0 und 100 sein <br>b) in Fünferschritten angegeben werden (5,10,15...100)";
      }else{
      var k=Math.round((4.4*(100-parseInt(own))-0.02*(100-parseInt(own))**2+(parseInt(own)+parseInt(oth)+parseInt(oth)+parseInt(oth))-100)*10)/10;
      if (Number.isNaN(k)==true){
        document.getElementById("result").innerHTML="Bitte geben Sie Beiträge an";
      } else{
        document.getElementById(dieid).style.backgroundColor = original;
        document.getElementById("result").innerHTML=k;
        document.getElementById("table1").style.display="block";
        window.location='#table1';
        dieid="tabval"+String(k)+String(own);
        original=document.getElementById(dieid).style.backgroundColor;
        document.getElementById(dieid).style.backgroundColor = "#fca4a4";
        

      }
      }
      
    }
</script>
{% endblock %}

{% block content %}

    {% include Constants.instructions_template %}
    <br>
    <br>
    <br>
    <p><b>How to Payoff-Tabelle:</b><br>
    Mit Hilfe dieses Videos erklären wir Ihnen, wie Ihnen die unten stehende Tabelle dabei hilft, die Beziehung zwischen Ihrer eigenen Beitragsentscheidung, der durchschnittlichen Beitragsentscheidung der anderen und Ihrer Auszahlung besser zu verstehen:</p>
    <table>
        <tbody>
            <tr>
            
            <td  style="vertical-align: center; text-align: left" >
                <video width="760" height="580" controls>
                 <source src="{% static 'refgame/Test.mp4' %}" type=video/mp4 >
                </video>
                
            </td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <br>
    <div  id="table1">
        {% include Constants.payofftable_template %}
    </div>
    <br>
    {% next_button %}

<div style="height: 500px;"></div>

    <div id='heading'><strong>Help Desk:</strong></div>
    <div id='Introbut'valign="center" style="text-align:center;vertical-align: middle;"><b>Payoff-Tabelle</b></div>
    <div id='button1'  valign="center" style="text-align:center;vertical-align: middle;" onclick="showhide()">
        <b>Bitte hier klicken</b></div>
    <div id='Introbut2'valign="center" style="text-align:center;vertical-align: middle;"><b>Payoff-Simulator</b><br>
    Ihr Beitrag:<br>
    <input name="owncon"  type="number" id="textInput1" value="" size="1" style="text-align:center;"><br>
    Durchschn. Beitrag aller<br>anderen Gruppenmitglieder:<br>
    <input name="othcon"  type="number"  min="0" max="100" id="textInput2" value="" size="1" style="text-align:center;">
    <div id='button2' id="b1" onclick="ch1()">Berechnen</div><br>
    <div id="result"  ></div>
    </div>
    

{% include Constants.chat_template %}
{% endblock %}
