<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        Regeln des Experiments
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
    <!-- MathJax: Formeln -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> <!-- I guess / fear, we need something like this to show formulars -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <p>
        Am Experiment nehmen insgesamt <b>vier Spieler</b> teil, d.h. neben Ihnen noch drei weitere Spieler. Die drei
        Teilnehmer, mit denen Sie interagieren, sind über den gesamten Verlauf des Experiments die gleichen.
    </p>
    <p> <!-- Allgemeiner Ablauf --> <!-- with min. stage -->
        {%  if session.config.treatment == "minwRat" or session.config.treatment == "minsRat" or session.config.treatment == "nbminwRat" %}
            <h5>Allgemeiner Ablauf</h5>
            Das Experiment besteht aus <b>fünf Phasen</b>. In jeder der fünf Phasen spielen Sie immer das gleiche
            <b>Spiel</b>. Jedes der Spiele besteht aus <b>sechs Runden</b> (Runde 0 bis 5). Hierbei gilt:
        {% endif %}
            <br>
            <br>
            <div style="border-left: 4px solid steelblue; padding-left: 20px;">
                {%  if session.config.treatment == "minwRat" %}
                In <b>Runde 0</b> entscheiden Sie stets gemeinsam mit Ihren Gruppenmitgliedern über einen
                <b>kollektiven Mindestbeitrag</b>, den jedes Mitglied Ihrer Gruppe in Runde 1 mindestens zu einem
                gemeinsamen Projekt beitragen muss.
                {% endif %}
                {%  if session.config.treatment == "nbminwRat" %}
                In <b>Runde 0</b> entscheiden Sie stets gemeinsam mit Ihren Gruppenmitgliedern über einen
                <b>kollektiven Mindestbeitrag</b>, den jedes Mitglied Ihrer Gruppe in Runde 1 mindestens zu einem
                gemeinsamen Projekt beitragen sollte. Inwieweit Sie dann dem Vorschlag folgen, können Sie selbst entscheiden.
                {% endif %}
            </div>
        {%  if session.config.treatment == "minwRat" or session.config.treatment == "minsRat" or session.config.treatment == "nbminwRat" %}
            <br>
            Ab Runde 1 entscheiden Sie dann über Ihren <b>individuellen Beitrag </b> zum gemeinsamen Projekt.
            <br>
            <br>
            <div style="border-left: 4px solid steelblue; padding-left: 20px;">
                {%  if session.config.treatment == "minwRat" %}
                In <b>Runde 1</b> muss Ihr individueller Beitrag <b>mindestens so hoch</b> sein wie der
                <b>kollektive Mindestbeitrag</b>, auf den Sie sich in Ihrer Gruppe in Runde 0 geeinigt haben.
                {% endif %}
                {%  if session.config.treatment == "nbminwRat" %}
                In <b>Runde 1</b> sollte Ihr individueller Beitrag <b>mindestens so hoch</b> sein wie der
                <b>kollektive Mindestbeitrag</b>, auf den Sie sich in Ihrer Gruppe in Runde 0 geeinigt haben.
                {% endif %}
            </div>
            <br>
            <div style="border-left: 4px solid steelblue; padding-left: 20px;">
                In <b>allen weiteren Runden</b> (Runde 2 bis 5) muss Ihr individueller Beitrag <b>mindestens so hoch</b>
                sein wie Ihr individueller Beitrag <b>in der Runde zuvor</b>.
            </div>
            <br>
            <br>
            Die folgende Abbildung stellt den Ablauf des Experiments dar.
            <br>
            <br>
            <img class=im5 style="margin-bottom:40px;height:8%;" src="{% static "refgame/instr_abb.png" %}" />
            <br>
        {% else %} <!-- without min. stage -->
            Das Experiment besteht aus <b>fünf Phasen</b>. In jeder der fünf Phasen spielen Sie immer das gleiche
            <b>Spiel</b>. Jedes der Spiele besteht aus <b>fünf Runden</b>. Insgesamt spielen Sie also 5 x 5 = 25 Runden.
            Zu Beginn jeder Runde bekommen Sie und Ihre drei Mitspieler jeweils eine <b>Anfangsausstattung von 100 LD</b>
            gutgeschrieben. Über den Verlauf von fünf Runden bekommen Sie also insgesamt 500 LD pro Phase gutgeschrieben.
        {% endif %}
    </p>

    <!-- Details -->
    <p> <!-- with min. stage -->
        {%  if session.config.treatment == "minwRat" or session.config.treatment == "minsRat" or session.config.treatment == "nbminwRat"%}
            <h5>Details des Experiments</h5>
        {% endif %}
        {%  if session.config.treatment == "minwRat" %} <!-- binding min. cont. stage -->
            <b>Kollektiver Mindestbeitrag</b>: In <b>Runde 0</b> entscheiden Sie gemeinsam mit Ihren Gruppenmitgliedern
            über den kollektiven <b>Mindestbeitrag</b>, den jedes Gruppenmitglied in Runde 1 mindestens zum gemeinsamen
            Projekt beitragen muss.  Dazu schlagen Sie zunächst vor, welchen <b>Mindestbeitrag</b>, \(q_{min}\), jeder
            Spieler in Runde 1 aus Ihrer Sicht zum gemeinsamen Projekt beitragen muss. Auch die anderen Spieler in
            Ihrer Gruppe machen zeitgleich jeweils einen entsprechenden Vorschlag. Anschließend wird das <b>Minimum</b>
            der vier Einzelvorschläge, \(min(q_{min})\), als <b>kollektiven Mindestbeitrag</b>
            festgelegt.
            <br>
            <br>
            <b>Individuelle Beiträge</b>: Ab <b>Runde 1</b> bekommen Sie und Ihre drei Mitspieler zu Beginn jeder Runde
            jeweils eine <b>Anfangsausstattung von 100 LD</b> gutgeschrieben. Über den Verlauf von fünf Runden bekommen
            Sie also insgesamt 500 LD pro Phase gutgeschrieben. Ihre Aufgabe, wie auch die Aufgabe Ihrer Mitspieler,
            besteht in jeder der Runden darin, zu entscheiden, wie viele LD Sie zu einem <b>gemeinsamen Projekt</b>
            beitragen.
             <br>
            <br>
            <div style="border-left: 4px solid steelblue; padding-left: 20px;">
                In <b>Runde 1</b> muss Ihr <b>individueller Beitrag</b>, \(q\), mindestens so hoch sein wie der
                kollektive Mindestbeitrag, \(q \geq min(q_{min})\).
            </div>
            <br>
             <div style="border-left: 4px solid steelblue; padding-left: 20px;">
                 In allen <b>weiteren Runden</b> (Runde 2 bis 5) muss Ihr individueller Mindestbeitrag <b>mindestens so
                hoch</b> sein wie Ihr individueller Beitrag in der <b>Runde zuvor</b>. Der maximale Beitrag ist 100 LD
                (nur ganze Zahlen).
             </div>
        {% endif %}
        {%  if session.config.treatment == "nbminwRat" %} <!-- non-binding min. cont. stage -->
            <b>Kollektiver Mindestbeitrag</b>: In <b>Runde 0</b> entscheiden Sie gemeinsam mit Ihren Gruppenmitgliedern
            über den kollektiven <b>Mindestbeitrag</b>, den jedes Gruppenmitglied in Runde 1 mindestens zum gemeinsamen
            Projekt beitragen sollte. Dazu schlagen Sie zunächst vor, welchen <b>Mindestbeitrag</b>, \(q_{min}\), jeder
            Spieler in Runde 1 aus Ihrer Sicht zum gemeinsamen Projekt beitragen sollte. Auch die anderen Spieler in
            Ihrer Gruppe machen zeitgleich jeweils einen entsprechenden Vorschlag. Anschließend wird das <b>Minimum</b>
            der vier Einzelvorschläge, \(min(q_{min})\), als gemeinsamer Vorschlag für einen <b>kollektiven Mindestbeitrag</b>
            festgelegt.
            <br>
            <br>
            <b>Individuelle Beiträge</b>: Ab <b>Runde 1</b> bekommen Sie und Ihre drei Mitspieler zu Beginn jeder Runde
            jeweils eine <b>Anfangsausstattung von 100 LD</b> gutgeschrieben. Über den Verlauf von fünf Runden bekommen
            Sie also insgesamt 500 LD pro Phase gutgeschrieben. Ihre Aufgabe, wie auch die Aufgabe Ihrer Mitspieler,
            besteht in jeder der Runden darin, zu entscheiden, wie viele LD Sie zu einem gemeinsamen Projekt
            beitragen.
            <br>
            <br>
            <div style="border-left: 4px solid steelblue; padding-left: 20px;">
                In <b>Runde 1</b> sollte Ihr <b>individueller Beitrag</b>, \(q\), mindestens so hoch sein wie der kollektive
                Mindestbeitrag, \(q \geq min(q_{min}) \). Inwieweit Sie dem Vorschlag folgen, können Sie selbst entscheiden.
            </div>
            <br>
            <div style="border-left: 4px solid steelblue; padding-left: 20px;">
                In allen <b>weiteren Runden</b> (Runde 2 bis 5) muss Ihr individueller Mindestbeitrag <b>mindestens so
                hoch</b> sein wie Ihr individueller Beitrag in der <b>Runde zuvor</b>. Der maximale Beitrag ist 100 LD
                (nur ganze Zahlen).
            </div>
        {% endif %}
        {%  if session.config.treatment == "minwRat" or session.config.treatment == "minsRat" or session.config.treatment == "nbminwRat"%}
            <br>
            <br>
            <b>Ihre Auszahlung in den Runden 1 bis 5</b> ergibt sich folgendermaßen:
            $$\begin{equation}
                4.4(100 - Ihr \enspace Beitrag) - 0.02(100 - Ihr \enspace Beitrag)^2 + (Ihr \enspace Beitrag + Beiträge \enspace
                der \enspace anderen \enspace drei \enspace Spieler) - 100
            \end{equation}$$
            <br>
            Das heißt, wenn beispielsweise alle anderen drei Spieler pro Runde durchschnittlich 30 LD und Sie 90 LD zum
            Projekt beitragen, dann ist <b>Ihre Auszahlung</b>:
            $$\begin{equation}
                4.4(100 - 90) - 0.02(100 - 90)^2 + (90 + 3 * 30) - 100 = 44 - 2 + 180 -100 = 122
            \end{equation}$$
            <br>
            Wenn dagegen alle anderen Spieler durchschnittlich 30 LD beitragen und Sie nichts, ist <b>Ihre Auszahlung</b>:
            $$\begin{equation}
                4.4(100 - 0) - 0.02(100 - 0)^2 + (0 + 3 * 30) - 100 = 440 - 200 + 90 -100 = 230
            \end{equation}$$

        {%  else %}  <!-- without min. stage -->
            Ihre Aufgabe, wie auch die Aufgabe Ihrer Mitspieler, besteht darin, zu entscheiden, wie viele LD Sie zu einem
            <b>gemeinsamen Projekt</b> beitragen.
            {% if session.config.treatment == "vcm" %} Ihr Beitrag kann pro Runde zwischen 0 und 100 LD (nur ganze Zahlen) liegen.
            {% elif session.config.treatment == "wRat" or session.config.treatment == "minwRat" %} Ihr Beitrag kann in Runde 1
            zwischen 0 und 100 LD (nur ganze Zahlen) liegen. In allen weiteren Runden muss Ihr Beitrag
            <b>mindestens so hoch</b> sein, wie <b>in der Runde zuvor</b>.
            {% elif session.config.treatment == "sRat" or session.config.treatment == "minsRat" %} Ihr Beitrag kann in Runde 1
            zwischen 0 und 100 LD (nur ganze Zahlen) liegen. In allen weiteren Runden muss Ihr Beitrag <b>höher</b> als
            <b>in der Runde zuvor</b> sein. {% endif %} Der maximale Beitrag ist 100 LD.

            <br>
            <br>
            <b>Ihre Auszahlung pro Runde</b> ergibt sich folgendermaßen:
            $$\begin{equation}
                4.4(100 - Ihr \enspace Beitrag) - 0.02(100 - Ihr \enspace Beitrag)^2 + (Ihr \enspace Beitrag + Beiträge \enspace
                der \enspace anderen \enspace drei \enspace Spieler) - 100
            \end{equation}$$
            <br>
            Das heißt, wenn beispielsweise alle anderen drei Spieler pro Runde durchschnittlich 30 LD und Sie 90 LD zum
            Projekt beitragen, dann ist <b>Ihre Auszahlung</b>:
            $$\begin{equation}
                4.4(100 - 90) - 0.02(100 - 90)^2 + (90 + 3 * 30) - 100 = 44 - 2 + 180 -100 = 122
            \end{equation}$$
            <br>
            Wenn dagegen alle anderen Spieler durchschnittlich 30 LD beitragen und Sie nichts, ist <b>Ihre Auszahlung</b>:
            $$\begin{equation}
                4.4(100 - 0) - 0.02(100 - 0)^2 + (0 + 3 * 30) - 100 = 440 - 200 + 90 -100 = 230
            \end{equation}$$
        {% endif %}
    </p>

    <p>
        Um Ihnen die Berechnung Ihrer Auszahlung zu erleichtern, finden Sie am rechten Rand des Bildschirms unseren
        <b>Help Desk</b>. Der Help Desk enthält eine <b>Payoff-Tabelle</b> sowie einen <b>Payoff-Simulator</b>. In die
        Payoff-Tabelle können Sie pro Runde den <b>durchschnittlichen</b> Beitrag aller anderen Spieler (Spalte) und
        Ihren Beitrag (Zeile) festlegen (jeweils in 5er Schritten). In der entsprechenden Zelle der Tabelle finden Sie
        dann Ihre Auszahlung pro Runde in LD. Wie Sie die Payoff-Tabelle nutzen können, erklären wir Ihnen zudem in
        einem kurzen Video, das Ihnen unterhalb der Tabelle angezeigt wird. Darüber hinaus finden Sie im
        Help Desk einen Payoff-Simulator. Im Payoff-Simulator können Sie pro Runde den <b>durchschnittlichen</b> Beitrag
        aller anderen Spieler und Ihren Beitrag eintragen. Der Payoff-Simulator berechnet dann Ihre Auszahlung.
    </p>

    <p>
        Am Ende des Spiels erhalten Sie die <b>Auszahlung aus einer der fünf Phasen</b> in Euro ausgezahlt
        (entsprechend dem genannten Umrechnungskurs von 100 LD = 1 Euro). Die Phase, die ausgezahlt wird, wird
        <b>zufällig</b> bestimmt. Daher sollten Sie sich in <b>jeder</b> Runde einer Phase so verhalten, als wäre sie
        auszahlungsrelevant. Zu Beginn findet eine kurze <b>Probephase</b> mit drei Runden (Runde 0 bis 2) statt, die
        <b>nicht auszahlungsrelevant</b> ist.
    </p>
    <p>
        Bitte melden Sie sich, wenn Sie eine Frage haben. Nutzen Sie hierfür bitte unseren <b>Chat</b>, der Ihnen
        unten rechts auf der Seite angezeigt wird. Wenn Sie mit dem Lesen des Textes fertig sind und keine Fragen haben,
        klicken Sie bitte auf <b>Weiter</b>.
    </p>


    </div>
</div>
