{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instruktionen
{% endblock %}

{% block styles %}
<style type="text/css">
    #heading{
        position: fixed;
        right: 1.5%;
        width: 13%;
        top:7%;
    }
    #button1 {
    padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button1:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button1:active {
    
    padding: 10px;
    }
    #button2 {
    
    padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 36px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button2:active {
    
    padding: 10px;
    }
    #table1{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .tg  {position:relative; left:-10%; border-collapse:collapse;border-spacing:0;width: 100%;}
    .tg .rotate{width: 30%}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:6px 3px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:6px 3px;word-break:normal;}
    .tg .tg-pb0m{border-color:transparent;text-align:center;vertical-align:middle}
    .tg .tg-za14{border-color:transparent;text-align:left;vertical-align:middle}
    .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
    .tg .rotate{border-color:transparent;text-align:center;vertical-align:middle}
    
    .rotate {
      /* FF3.5+ */
      -moz-transform: rotate(-90.0deg);
      /* Opera 10.5 */
      -o-transform: rotate(-90.0deg);
      /* Saf3.1+, Chrome */
      -webkit-transform: rotate(-90.0deg);
      /* IE6,IE7 */
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
      /* IE8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
      /* Standard */
      transform: rotate(-90.0deg);
      white-space: nowrap;
    }
    #result{
        
        font-weight : bold;
    }
    video.im6 {
  max-width:100%;
  max-height:100%;
}
</style>
{%  endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript">
    document.getElementById("table1").style.display="none";
    function showhide()
        {
        var div = document.getElementById("table1");
        if (div.style.display === "none") {
        div.style.display = "block";
        window.location='#table1';
        } else {
        window.location='#rules';
        div.style.display = "none";
        }
        }

    function update(value) {
    document.getElementById('screen').innerHTML += value;
    }

    function result() {
        document.getElementById('screen').innerHTML = eval(document.getElementById('screen').innerHTML);
    }

    function del() {
        document.getElementById('screen').innerHTML = "";
    }
    var original = "white"
    var dieid ="tabval1400"
     function ch1(){
      own=document.getElementById("textInput1").value;
      oth=document.getElementById("textInput2").value;
      if(own<0 | own>100 | oth<0 | oth>100){
        document.getElementById("result").innerHTML="Die angegebenen Beiträge müssen<br>zwischen 0 und 100 liegen";
      }else if(oth % 5 != 0 | own % 5 != 0){
      var k=Math.round((4.4*(100-parseInt(own))-0.02*(100-parseInt(own))**2+(parseInt(own)+parseInt(oth)+parseInt(oth)+parseInt(oth))-100)*10)/10;
      if (Number.isNaN(k)==true){
        document.getElementById("result").innerHTML="Bitte geben Sie Beiträge an";
      } else{
        document.getElementById(dieid).style.backgroundColor = original;
        document.getElementById("result").innerHTML=k;
      }}else{
      var k=Math.round((4.4*(100-parseInt(own))-0.02*(100-parseInt(own))**2+(parseInt(own)+parseInt(oth)+parseInt(oth)+parseInt(oth))-100)*10)/10;
      if (Number.isNaN(k)==true){
        document.getElementById("result").innerHTML="Bitte geben Sie Beiträge an";
      } else{
        document.getElementById(dieid).style.backgroundColor = original;
        document.getElementById("result").innerHTML=k;
        document.getElementById("table1").style.display="block";
        window.location='#table1';
        dieid="tabval"+String(k)+String(own);
        original=document.getElementById(dieid).style.backgroundColor;
        document.getElementById(dieid).style.backgroundColor = "#fca4a4";
        

      }
      }
      
    }
</script>
{% endblock %}

{% block content %}

{{ participant.phase_count }}

    {% include Constants.instructions_template %}
    <br>
    <div  id="table1">
        {% include Constants.payofftable_template %}
    </div>
    <br>
    {% next_button %}

<div style="height: 500px;"></div>

    <div id='heading' ><strong>Help Desk:</strong>
    <table >
        <tbody>
            <tr>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td align="center"><b>Payoff-Tabelle</b></td>
        </tr>
        <tr>
        <td align="center"><div id='button1'  valign="center" style="text-align:center;vertical-align: middle;" onclick="showhide()">
                <b>Bitte hier klicken</b></div></td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td align="center" style="padding-bottom:10px;"><b>Payoff-Simulator</b></td>
        </tr>
        <tr>
        <td align="center">Durchschn. Beitrag aller<br>anderen Gruppenmitglieder:</td>
        </tr>
        <tr>
        <td align="center" style="padding-bottom:10px;"><input name="othcon"  type="number"  min="0" max="100" id="textInput2" value="" size="1" style="text-align:center;"></td>
        </tr>
        <tr>
        <td align="center">Ihr Beitrag:</td>
        </tr>
        <tr>
        <td align="center" style="padding-bottom:10px;"><input name="owncon"  type="number" id="textInput1" value="" size="1" style="text-align:center;"></td>
        </tr>
        <tr>
        <td align="center"><div id='button2' id="b1" onclick="ch1()">Berechnen</div></td>
        </tr>
          <tr>
        <td align="center"><div id="result"  ></div></td>
        </tr>
        </tbody>
        </table>
    </div>
    

{% include Constants.chat_template %}
{% endblock %}
