{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Kontrollfragen
{% endblock %}

{% block styles %}
<style type="text/css">
    #heading{
        position: fixed;
        right: 1.5%;
        width: 13%;
        top:7%;
    }
    #button1 {
    padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 36px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button1:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button1:active {

    padding: 10px;
    }
     #button2 {

    padding: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 36px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
    }
    #button2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
    background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
    background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
    background-color:#7c858f;
    }
    #button2:active {

    padding: 10px;
    }
    #table1{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .tg  {position:relative; left:-10%; border-collapse:collapse;border-spacing:0;width: 100%;}
    .tg .rotate{width: 30%}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:6px 3px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:6px 3px;word-break:normal;}
    .tg .tg-pb0m{border-color:transparent;text-align:center;vertical-align:middle}
    .tg .tg-za14{border-color:transparent;text-align:left;vertical-align:middle}
    .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
    .tg .rotate{border-color:transparent;text-align:center;vertical-align:middle}

    .rotate {
      /* FF3.5+ */
      -moz-transform: rotate(-90.0deg);
      /* Opera 10.5 */
      -o-transform: rotate(-90.0deg);
      /* Saf3.1+, Chrome */
      -webkit-transform: rotate(-90.0deg);
      /* IE6,IE7 */
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
      /* IE8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
      /* Standard */
      transform: rotate(-90.0deg);
      white-space: nowrap;
    }
    #result{

        font-weight : bold;
    }
    video.im6 {
  max-width:100%;
  max-height:100%;
}
 </style>
{% endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript">
    document.getElementById("wong").style.visibility="hidden"
    function store(){
        Value = document.getElementById("wr").value;
        console.log(Value++);
        window.sessionStorage.setItem("wr", Value);
    }

     window.onload = function() {
        if(sessionStorage.getItem("wr")>0){
            document.getElementById("wr").value = sessionStorage.getItem("wr");
        }else{
        document.getElementById("wr").value = 0;
        }
    }

    document.getElementById("cont").style.display="none";
    function showhide(url)
        {
        var div = document.getElementById("cont");
        if (div.style.display === "none") {
        div.style.display = "block";
        window.location='#cont';
        document.getElementById('cont').id = 'cont'
        } else {
        window.location='#firstques';
        div.style.display = "none";
        }
        }

    function update(value) {
    document.getElementById('screen').innerHTML += value;
    }

    function result() {
        document.getElementById('screen').innerHTML = eval(document.getElementById('screen').innerHTML);
    }

    function del() {
        document.getElementById('screen').innerHTML = "";
    }


    

    document.getElementById("table1").style.display="none";
    function showhide1()
        {
        var div = document.getElementById("table1");
        if (div.style.display === "none") {
        div.style.display = "block";
        window.location='#table1';
        } else {
        window.location='#rules';
        div.style.display = "none";
        }
        }

    function update(value) {
    document.getElementById('screen').innerHTML += value;
    }

    function result() {
        document.getElementById('screen').innerHTML = eval(document.getElementById('screen').innerHTML);
    }

    function del() {
        document.getElementById('screen').innerHTML = "";
    }

    var original = "white"
    var dieid ="tabval1400"
     function ch1(){
      own=document.getElementById("textInput1").value;
      oth=document.getElementById("textInput2").value;
      if(own<0 | own>100 | oth<0 | oth>100){
        document.getElementById("result").innerHTML="Die angegebenen Beiträge müssen<br>a) zwischen 0 und 100 sein <br>b) in Fünferschritten angegeben werden (5,10,15...100)";
      }else if(oth % 5 != 0 | own % 5 != 0){
      var k=Math.round((4.4*(100-parseInt(own))-0.02*(100-parseInt(own))**2+(parseInt(own)+parseInt(oth)+parseInt(oth)+parseInt(oth))-100)*10)/10;
      if (Number.isNaN(k)==true){
        document.getElementById("result").innerHTML="Bitte geben Sie Beiträge an";
      } else{
        document.getElementById(dieid).style.backgroundColor = original;
        document.getElementById("result").innerHTML=k;
      }}else{
      var k=Math.round((4.4*(100-parseInt(own))-0.02*(100-parseInt(own))**2+(parseInt(own)+parseInt(oth)+parseInt(oth)+parseInt(oth))-100)*10)/10;
      if (Number.isNaN(k)==true){
        document.getElementById("result").innerHTML="Bitte geben Sie Beiträge an";
      } else{
        document.getElementById(dieid).style.backgroundColor = original;
        document.getElementById("result").innerHTML=k;
        document.getElementById("table1").style.display="block";
        window.location='#table1';
        dieid="tabval"+String(k)+String(own);
        original=document.getElementById(dieid).style.backgroundColor;
        document.getElementById(dieid).style.backgroundColor = "#fca4a4";

      }
      }

    }
</script>

{% endblock %}

{% block content %}
    <p id="firstques"> Wenn Sie die Instruktionen durchgelesen und keine Fragen haben, beantworten Sie bitte die
        folgenden <b>Kontrollfragen</b>. Um Ihnen die Berechnungen zu erleichtern, finden Sie am rechten Rand des Bildschirms
        unseren <b>Help Desk</b>. Der Help Desk enthält noch einmal die <b>Instruktionen</b> sowie die
        <b>Payoff-Tabelle</b> und den <b>Payoff-Simulator</b>.
    </p>

    <p>
        <b>Frage 1</b>. Angenommen, der durchschnittliche Beitrag aller anderen Spieler sei 50 LD. Ihr Beitrag zum
        Projekt beträgt 20 LD. Wie hoch ist Ihre Auszahlung (in LD) in dieser Runde?
    </p>
    <p> Meine Auszahlung ist: {% formfield player.cq_1 label="" %} </p>

    <p>
        <b>Frage 2</b>. Angenommen, der durchschnittliche Beitrag aller anderen Spieler sei 20 LD. Ihr Beitrag zum
        Projekt beträgt 60 LD. Wie hoch ist Ihre Auszahlung (in LD) in dieser Runde?
    </p>
    <p> Meine Auszahlung ist: {% formfield player.cq_2 label="" %} </p>

    <p>
        <b>Frage 3</b>. Angenommen, der durchschnittliche Beitrag aller anderen Spieler sei 15 LD, mit welchem der
        folgenden Beiträge erzielen Sie die höchste Auszahlung (bitte anklicken)?
    </p>
    {% formfield player.cq_3 label="" %}  <!-- field for cq_3 -->

    <p>
        <b>Frage 4</b>. Angenommen, Sie wollen Ihre Auszahlung maximieren, ist es dann sinnvoll, keinen Beitrag
        (d.h. Null) zum Projekt zu leisten?
    </p>
    {% formfield player.cq_4 label="" %}  <!-- field for cq_4 -->

    <p>
        <b>Frage 5</b>. Angenommen, alle Spieler wählen den gleichen Beitrag, welcher der folgenden Beiträge erzielt die
        höchste Gesamtauszahlung aller Spieler (bitte anklicken)?
    </p>
    {% formfield player.cq_5 label="" %}  <!-- field for cq_5 -->

    <p>
        <b>Frage 6</b>. Welche Regel gilt für Ihre Auszahlung?
    </p>
    {% formfield player.cq_6 label="" %}  <!-- field for cq_6 -->
    <br>
    {% if Constants.treatment != "vcm" %}  
    <p>
        <b>Frage 7</b>. Angenommen Sie haben in Runde 1 einer Phase 20 LD zum gemeinsamen Projekt beigetragen, wie viel
        müssen Sie in Runde 2 der Phase mindestens zum gemeinsamen Projekt beitragen?
    </p>
    {% formfield player.cq_7 label="" %}  <!-- field for cq_7 -->
    <br>
    <p>
        <b>Frage 8</b>. Angenommen Sie haben in Runde 1 einer Phase 20 LD zum gemeinsamen Projekt beigetragen, wie viel
        müssen Sie in Runde 5, d.h. in der letzten Runde der Phase, mindestens zum gemeinsamen Projekt beitragen?
    </p>
    {% formfield player.cq_8 label="" %}  <!-- field for cq_8 -->
    {% endif %}
    {% if Constants.treatment == "minwRat" %}
        <br>
        <p>
            <b>Frage 9</b>. Angenomme, die vier Spieler einer Gruppe haben in Runde 0 für den kollektiven Mindestbeitrag
            in Runde 1 jeweils 10, 30, 50 und 70 LD angegeben. In welchem Bereich muss Ihr individueller Beitrag zum
            Projekt in Runde 1 liegen?
            <br>
            <br>
            Größer gleich (in LD) {% formfield player.cq_9a label="" %}
            <br>
            Kleiner gleich (in LD) {% formfield player.cq_9b label="" %}
        </p>
    {% endif %}
    <br>
    <p>
        Bitte melden Sie sich, wenn Sie eine Frage haben. Nutzen Sie hierfür bitte unseren <b>Chat</b>, der Ihnen unten
        rechts auf der Seite angezeigt wird. Wenn Sie alle Kontrollfragen korrekt beantwortet haben, klicken Sie bitte
        auf <b>Weiter</b>.
    </p>

    <button id="id_submit_button" onclick="store()" class="otree-btn-next btn btn-primary next-button otree-next-button">
        Weiter</button>

    <div id=wong>
        <input type="number" id="wr" name="wrong"  size=1>

</div>

    <div style="height: 500px;" id="cont">
        {% include Constants.instructions_template %}
    </div>
<div style="height: 400px;"></div>

    <div style="height: 500px;" id="table1">
        {% include Constants.payofftable_template %}
    </div>
<div style="height: 500px;"></div>

    <div id='heading' ><strong>Help Desk:</strong>
    <table >
        <tbody>
            <tr>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td align="center"><b>Instruktionen</b></td>
        </tr>
        <tr>
        <td align="center"><div id='button1'  valign="center" style="text-align:center;vertical-align: middle;" onclick="showhide()">
                <b>Bitte hier klicken</b></div></td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td align="center"><b>Payoff-Tabelle</b></td>
        </tr>
        <tr>
        <td align="center"><div id='button2'  valign="center" style="text-align:center;vertical-align: middle;" onclick="showhide1()">
                <b>Bitte hier klicken</b></div></td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td align="center" style="padding-bottom:10px;"><b>Payoff-Simulator</b></td>
        </tr>
        <tr>
        <td align="center">Durchschn. Beitrag aller<br>anderen Gruppenmitglieder:</td>
        </tr>
        <tr>
        <td align="center" style="padding-bottom:10px;"><input name="othcon"  type="number"  min="0" max="100" id="textInput2" value="" size="1" style="text-align:center;"></td>
        </tr>
        <tr>
        <td align="center">Ihr Beitrag:</td>
        </tr>
        <tr>
        <td align="center" style="padding-bottom:10px;"><input name="owncon"  type="number" id="textInput1" value="" size="1" style="text-align:center;"></td>
        </tr>
        <tr>
        <td align="center"><div id='button2' id="b1" onclick="ch1()">Berechnen</div></td>
        </tr>
          <tr>
        <td align="center"><div id="result"  ></div></td>
        </tr>
        </tbody>
        </table>
    </div>



{% include Constants.chat_template %}
 {% endblock %}
