{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Kontrollfragen
{% endblock %}

{% block content %}

    <p> Wenn Sie die Instruktionen durchgelesen und keine Fragen haben, beantworten Sie bitte die folgenden Kontrollfragen. </p>

    <p> 1. Angenommen, Ihr Beitrag zum Projekt beträgt 20 LD. Der durchschnittliche Beitrag aller anderen Spieler sei 50 LD. Wie hoch ist Ihre Auszahlung (in LD) in dieser Runde? </p> 
    <p> Meine Auszahlung is: {% formfield player.cq_1 label="" %} </p>

    <p> 2. Angenommen, Ihr Beitrag zum Projekt beträgt 60 LD. Der durchschnittliche Beitrag aller anderen Spieler sei 20 LD. Wie hoch ist Ihre Auszahlung (in LD) in dieser Runde? </p>
    <p> Meine Auszahlung ist: {% formfield player.cq_2 label="" %} </p>

    <p> 3. Angenommen, der durchschnittliche Beitrag aller anderen Spieler sei 15 LD, mit welchem der folgenden Beiträge erzielen Sie die höchste Auszahlung (bitte ankreuzen)? </p>

    {% formfield player.cq_3 label="" %}  <!-- field for cq_3 -->

    <p> 4.Angenommen, Sie wollen Ihre Auszahlung maximieren, ist es dann sinnvoll, keinen Beitrag (d.h. Null) zum Projekt zu leisten? </p>

    {% formfield player.cq_4 label="" %}  <!-- field for cq_4 -->

    <p> 5. Angenommen, alle Spieler wählen den gleichen Beitrag, welcher der folgenden Beiträge erzielt die höchste Gesamtauszahlung aller Spieler (bitte ankreuzen)? </p>

    {% formfield player.cq_5 label="" %}  <!-- field for cq_5 -->

    <p> 6. Welche Regel gilt für Ihre Auszahlung? </p>

    {% formfield player.cq_6 label="" %}  <!-- field for cq_6 -->

    <!-- {% formfields %} -->

    {% next_button %}

{% endblock %}
