{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Mindestbeitragsentscheidung
{% endblock %}

{% block styles %}
<style type="text/css">

</style>
{%  endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript">
 
</script>
{% endblock %}

{% block content %}
	<p>Bei der Mindestbeitragsentscheidung besteht Ihre Aufgabe (wie auch die Aufgabe Ihrer Mitspieler) darin zu entscheiden,
        wie viele LD Sie und Ihre Mitspieler mindestens in Runde 1 {% if player.round_number < 3 %}der Testrunden{% else %}von Phase {{ participant.phase }}{% endif %} zum <b>gemeinsamen Projekt</b> beitragen müssen.<br><br>
       {% if Constants.treatment == "minwRat" or Constants.treatment == "minsRat" %} <b>Hinweis</b>: Der niedrigste Betrag unter den angegebenen Mindestbeitragsentscheidungen in Ihrer Gruppe wird als bindende Beitragsentscheidung für die gesamte Gruppe in Runde 1 {% if player.round_number < 3 %}der Testrunden{% else %}von Phase {{ participant.phase }}{% endif %} ausgewählt.{% elif Constants.treatment == "nbminwRat" or Constants.treatment == "nbminsRat" %}<b>Hinweis</b>: Der niedrigste Betrag unter den angegebenen Mindestbeitragsentscheidungen in Ihrer Gruppe wird als nicht-bindende Beitragsentscheidung für die gesamte Gruppe in Runde 1 {% if player.round_number < 3 %}der Testrunden{% else %}von Phase {{ participant.phase }}{% endif %} ausgewählt.{% endif %}</p>
    {% formfield player.mincon label="" %}
    <br>
    {% next_button %}

{% include Constants.chat_template %}
{% endblock %}
