{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Kollektiver Mindestbeitrag - Entscheidung
{% endblock %}

{% block styles %}
<style type="text/css">

</style>
{%  endblock %}

{% block scripts %}
<script language="javascript" type="text/javascript">
 
</script>
{% endblock %}

{% block content %}
	<p>
        Sie entscheiden gemeinsam mit Ihren Gruppenmitgliedern über den kollektiven Mindestbeitrag, den jedes
        Gruppenmitglied in Runde 1 {% if player.round_number < 3 %}der Proberunden{% else %}von Phase
        {{ participant.phase }}{% endif %} zum <b>gemeinsamen Projekt</b> beitragen muss.
    </p>
    {% formfield player.mincon label="" %}
    <p>
    {% if session.config.treatment == "minwRat" or session.config.treatment == "minsRat" %}
        <b>Hinweis</b>: Bitte beachten Sie, das <b>Minimum</b> der Angaben wird als bindender kollektiver
        <b>Mindestbeitrag für alle Gruppenmitglieder</b> in Runde 1 angesetzt.
    {% elif session.config.treatment == "nbminwRat" or session.config.treatment == "nbminsRat" %}
         <b>Hinweis</b>: Bitte beachten Sie, das <b>Minimum</b> der Angaben wird als nicht-bindender kollektiver
        <b>Mindestbeitrag für alle Gruppenmitglieder</b> in Runde 1 angesetzt.
    {% endif %}
    </p>
    <br>
    {% next_button %}

{% include Constants.chat_template %}
{% endblock %}
