{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    {% if player.round_number < Constants.num_rounds %}
    Neue Phase
    {% else %}
    Auszahlung
    {% endif %}

{% endblock %}

{% block content %}

    {% if player.round_number < Constants.num_rounds %}
    <p>Neue Runde </p>
    {% else %}

    Ihre kummulierte Auszahlung: {{ player.total_payoff }} aus Phase {{ player.pay_round }}

    {% endif %}

    {% next_button %}
    
 {% include Constants.chat_template %}
{% endblock %}
