{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Fragebogen
{% endblock %}

{% block styles %}
<style type="text/css">
    .errorlist
    {
        color: red;
    }
      img.im5 {
      max-width:50%;
      max-height:50%;
        }
    tr.border1 td{
        padding-top: : 5px ;
        padding-bottom: 5px ;
    }
    .slider1 {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    z-index:20;
}

.slider1:focus {
    outline: none;
    z-index:20;
}
#buttonfin {
  background-color:#4f75ff;
  border-color:#4f75ff;
  }
  #buttonfin:hover {
  background-color:#3c5ccf;
  }
  #buttonfin:focus {
    outline: 0;
    box-shadow: 0 0 4px blue;
  }

.slider1::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    z-index:20;
    
}

.slider1::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    z-index:20;
}


.slider1 {
    -moz-appearance: none;
    margin: 18px 0;
    width: 100%;
    z-index:20;
   
}


.slider1::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    z-index:20;
}

.slider1::-moz-range-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -moz-appearance: none;
    z-index:20;
}



.slider1 {
    width: 80%;
    position: absolute;
    z-index:20;
}
    .slider2 {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    z-index:20;
}

.slider2:focus {
    outline: none;
    z-index:20;
}

.slider2::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    z-index:20;
    
}

.slider2::-webkit-slider-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    z-index:20;
}


.slider2 {
    -moz-appearance: none;
    margin: 18px 0;
    width: 100%;
    z-index:20;
   
}


.slider2::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    z-index:20;
}

.slider2::-moz-range-thumb {
    border: 0px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    -moz-appearance: none;
    z-index:20;
}



.slider2 {
    width: 80%;
    position: absolute;
    z-index:20;
}
.b { 
    position: relative;
    margin-top:20px;
    width: 100%;
    height:80px;

}
  #show1 {
    width: 70%;
    position: absolute;
    top: -30%;
    left: 0%;
    font-weight: bold;
}
  #show2 {
    width: 70%;
    position: absolute;
    top: -30%;
    left: 0%;
    font-weight: bold;
}

#p1 {
    width: 5%;
    position: absolute;
    top: 60%;
    left: 78%;
}
#p2 {
    width: 5%;
    position: absolute;
    top: 60%;
    left: 0.5%;
}
#p3 {
    width: 5%;
    position: absolute;
    top: 30%;
    left: 78.5%;
    font-size: 18px;
    font-weight: bold;
    z-index:-19;
}
#p4 {
    width: 5%;
    position: absolute;
    top: 30%;
    left: 0.7%;
    font-size: 18px;
    font-weight: bold;
    z-index:-20;
}
#p11 {
    width: 5%;
    position: absolute;
    top: 60%;
    left: 78%;
}
#p12 {
    width: 5%;
    position: absolute;
    top: 60%;
    left: 0.5%;
}
#p13 {
    width: 5%;
    position: absolute;
    top: 30%;
    left: 78.5%;
    font-size: 18px;
    font-weight: bold;
    z-index:-19;
}
#p14 {
    width: 5%;
    position: absolute;
    top: 30%;
    left: 0.7%;
    font-size: 18px;
    font-weight: bold;
    z-index:-20;
}
.myclass::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
    z-index:20;
}

.myclass::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px !important;
    width: 20px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important !important;
    -webkit-appearance: none !important;
    margin-top: -14px !important;
    z-index:20;
}

#buttonvier {
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
  }

#buttonvier:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
  background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
  background-color:#7c858f;
  }
  #buttonvier:active {
  }



#buttonvier1 {
    -moz-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    box-shadow:inset 0px 1px 0px 0px #c7cbd6;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b7bac2), color-stop(1, #7c858f));
    background:-moz-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-webkit-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-o-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:-ms-linear-gradient(top, #b7bac2 5%, #7c858f 100%);
    background:linear-gradient(to bottom, #b7bac2 5%, #7c858f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7bac2', endColorstr='#7c858f',GradientType=0);
    background-color:#b7bac2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #7c7f87;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:5px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1c2847;
  }

#buttonvier1:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c858f), color-stop(1, #b7bac2));
  background:-moz-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:-webkit-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:-o-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:-ms-linear-gradient(top, #7c858f 5%, #b7bac2 100%);
  background:linear-gradient(to bottom, #7c858f 5%, #b7bac2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c858f', endColorstr='#b7bac2',GradientType=0);
  background-color:#7c858f;
  }
  #buttonvier1:active {
  }



</style>
{% endblock %}
{% block scripts %}
<script language="javascript" type="text/javascript"> 
$(document).on("wheel", "input[type=number]", function (e) {
    $(this).blur();
});

document.getElementById("wong").style.visibility="hidden"

function updateTextInput1(val) {
          document.getElementById('textInput1').value=val; 
          }
$(document).ready(function () {
        $('.slider1').on('input change', function () {
            $('.slider1').addClass('myclass');
        });

    });
document.getElementById("show1").style.display="none";
function showhide1()
    {
      document.getElementById("show1").style.display="block";
    } 
     var slider1 = document.getElementById("slider1");
var output12 = document.getElementById("show1");
output12.innerHTML = slider1.value;
var output13 = document.getElementById("win1");
var output14 = document.getElementById("lose1")

slider1.oninput = function() {
  output12.innerHTML = 'Wahrscheinlichkeit der hohen Auszahlung: ' + this.value + "%";
  k=100-this.value
  output13.innerHTML = '<b>Sie bekommen 30 Euro</b> mit einer Wahrscheinlichkeit von  <b>' + this.value +"%" ;
  output14.innerHTML = '<b>Sie bekommen 16 Euro</b> mit einer Wahrscheinlichkeit von  <b>' + k +"%" ;

}



function updateTextInput2(val) {
          document.getElementById('textInput2').value=val; 
          }
$(document).ready(function () {
        $('.slider2').on('input change', function () {
            $('.slider2').addClass('myclass');
        });

    });
document.getElementById("show2").style.display="none";
function showhide2()
    {
      document.getElementById("show2").style.display="block";
    } 
     var slider2 = document.getElementById("slider2");
var output2 = document.getElementById("show2");
output2.innerHTML = slider2.value;
var output3 = document.getElementById("win");
var output4 = document.getElementById("lose")

slider2.oninput = function() {
  output2.innerHTML = 'Anteil an Personen B, die Option "Gleichverteilung" auswählen: ' + this.value + " Personen";
  k=20-this.value
  output3.innerHTML = '<b>Sie und Person B bekommen 15 Euro</b> falls Sie eine der  <b>' + this.value + ' Personen</b> zugelost bekommen, die Option "Gleichverteilung" auswählen.';
  output4.innerHTML = '<b>Sie bekommen 8 Euro</b> und <b>Person B bekommt 22 Euro</b> falls Sie eine der <b>' + k + '  Personen </b> zugelost bekommen, die Option "Ungleichverteilung" auswählen.';

}


function store() {
    if(document.getElementById("textInput1").value==""){
      Value5 = document.getElementById("id_wrsl1").value;
      Value5=0
      document.getElementById("id_wrsl1").value = Value5;
    } else {
    Value5 = document.getElementById("id_wrsl1").value;
      Value5=1
      document.getElementById("id_wrsl1").value = Value5;
      slider1 = document.getElementById("slider1").value;
      window.sessionStorage.setItem("slider1", slider1);
    }

    id_wrsl1 = document.getElementById("id_wrsl1").value;
    window.sessionStorage.setItem("id_wrsl1", id_wrsl1);



    if(document.getElementById("textInput2").value==""){
      Value6 = document.getElementById("id_wrsl2").value;
      Value6=0
      document.getElementById("id_wrsl2").value = Value6;
    } else {
    Value6 = document.getElementById("id_wrsl2").value;
      Value6=1
      document.getElementById("id_wrsl2").value = Value6;
      slider2 = document.getElementById("slider2").value;
      window.sessionStorage.setItem("slider2", slider2);
    }

    id_wrsl2 = document.getElementById("id_wrsl2").value;
   window.sessionStorage.setItem("id_wrsl2", id_wrsl2);
}

window.onload = function() {
    document.getElementById("textInput1").value = sessionStorage.getItem("slider1");
    document.getElementById("slider1").value = sessionStorage.getItem("slider1");
    document.getElementById("id_wrsl1").value = sessionStorage.getItem("id_wrsl1");
    if(document.getElementById("id_wrsl1").value==1)
      {$('.slider1').addClass('myclass');
        document.getElementById("show1").style.display="block";
        output12.innerHTML = 'Wahrscheinlichkeit der hohen Auszahlung: ' + sessionStorage.getItem("slider1") + "%";
        k=100-sessionStorage.getItem("slider1")
        output13.innerHTML = '<b>Sie bekommen 30 Euro</b> mit einer Wahrscheinlichkeit von  <b>' + sessionStorage.getItem("slider1") +"%" ;
        output14.innerHTML = '<b>Sie bekommen 16 Euro</b> mit einer Wahrscheinlichkeit von  <b>' + k +"%" ;
    }

    document.getElementById("textInput2").value = sessionStorage.getItem("slider2");
    document.getElementById("slider2").value = sessionStorage.getItem("slider2");
    document.getElementById("id_wrsl2").value = sessionStorage.getItem("id_wrsl2");
    if(document.getElementById("id_wrsl2").value==1)
      {$('.slider2').addClass('myclass');
        document.getElementById("show2").style.display="block";
        output2.innerHTML = 'Anteil an Personen B, die Option "Gleichverteilung" auswählen: ' + sessionStorage.getItem("id_wrsl2") + " Personen";
      k=20-sessionStorage.getItem("id_wrsl2")
      output3.innerHTML = '<b>Sie und Person B bekommen 15 Euro</b> falls Sie eine der  <b>' + sessionStorage.getItem("id_wrsl2") + ' Personen</b> zugelost bekommen, die Option "Gleichverteilung" auswählen.';
      output4.innerHTML = '<b>Sie bekommen 8 Euro</b> und <b>Person B bekommt 22 Euro</b> falls Sie eine der <b>' + k + '  Personen </b> zugelost bekommen, die Option "Ungleichverteilung" auswählen.';
    }
}

document.getElementById("hideit").style.display="none";
      function shownow()
    {
        var div = document.getElementById("hideit");
    if (div.style.display === "none") {
        div.style.display = "block";
      } else {
        div.style.display = "none";
      }
    } 

document.getElementById("hideit1").style.display="none";
      function shownow1()
    {
        var div = document.getElementById("hideit1");
    if (div.style.display === "none") {
        div.style.display = "block";
      } else {
        div.style.display = "none";
      }
    }
</script>
{% endblock %}
{% block content %}

    <p style="text-align:center">
        <b>Vielen Dank für Ihre Teilnahme!</b>
    </p>

    <p> Zum Schluss möchten wir Sie bitten, einige Fragen zu beantworten. Ihre Angaben werden
    selbstverständlich streng vertraulich behandelt. </p>
 <br>
    <!--- First block: sociodemographics -->
    <p><b>Frage 1</b>. Wie alt sind Sie? (In Jahren)</p>
    <p> Ich bin: {% formfield player.q_1_1 label="" %}</p> <!-- field for q_1_1 age -->
 <br>
    <p><b>Frage 2</b>. Mit welchem Geschlecht identifizieren Sie sich?</p>
    <p>{% formfield player.q_1_2 label="" %}</p>  <!-- field for q_1_2 gender -->
 <br>
    <p><b>Frage 3</b>. Ist Deutsch Ihre Muttersprache?</p>
    <p>{% formfield player.q_1_3 label="" %}</p> <!-- field for q_1_3 mother tongue -->
 <br>
    <p><b>Frage 4</b>. Wie hoch ist Ihr monatliches Einkommen nach Abzug von Steuern und
        Sozialversicherungsbeiträgen?</p>
    <p>{% formfield player.q_1_4 label="" %}</p>
 <br>
    <!-- Second block: risk and trust -->
    <p>
        <b>Frage 5</b>. Wie schätzen Sie sich persönlich ein: Sind Sie im Allgemeinen ein risikobereiter Mensch oder
        versuchen Sie, Risiken zu vermeiden?
        <br>
        (<i>Antworten Sie bitte anhand der folgenden Skala. Der Wert 0 bedeutet: "gar nicht risikobereit". Der Wert 10
        bedeutet: "sehr risikobereit". Mit den Werten dazwischen können Sie Ihre Einschätzung abstufen.</i>)
    </p>

    <p>{% formfield player.q_2_1 label="" %}</p>  <!-- field for q_2_1: risk -->
 <br>
    <p>
        <b>Frage 6</b>. Stellen Sie sich vor, Sie haben die Wahl zwischen einer <b>Lotterie</b> und einer
        <b>sicheren Auszahlung</b>. Bei der <b>Lotterie</b> hätten Sie jeweils eine Chance auf eine hohe
        Auszahlung von <b>30 Euro</b> oder eine niedrige Auszahlung von
        <b>16 Euro</b>. Bei der <b>sicheren Auszahlung</b> würde Ihnen der Betrag von <b>20 Euro</b> sicher sein.
        <br>
        
    </p>
    <p>
        <b>Wie hoch müsste die Wahrscheinlichkeit des Gewinns der hohen Auszahlung (30 Euro) sein,
            damit Sie sich für die Lotterie und nicht für die sichere Auszahlung (20 Euro) entscheiden? <br><br>
        
    </p>
    <br>

         <div class=b width="80%" height="50px" style="text-align:left;">


                <input  type="range" min="0" max="100" step="1" value="" class="slider1" id="slider1"  onchange="updateTextInput1(this.value);" onclick="showhide1()">
                <span id="show1"></span>

                <span id="show3"></span>
                <p id="p11"><strong>100%</strong></p>
                <p id="p12"><strong>0%</strong></p>
                <p id="p13">|</p>
                <p id="p14">|</p>

                
  </div>

  <table cellpadding="8" width="80%">
        <tbody>
          <tr>
            <td>
                <span id="win1"></span>
            </td>
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
            </td>
            <td>
                <span id="lose1"></span>
            </td>
        </tr>
    </tbody>
</table>
    
    <div id="inf"></div>

Beispiel:</b> Angenommen, Sie geben 60% an. In diesem Fall bevorzugen Sie die Lotterie, wenn die Auszahlung von 30 Euro mit einer Wahrscheinlichkeit von mindestens 60% eintritt. Bei einer geringeren Gewinnwahrscheinlichkeit würden Sie eine sichere Auszahlung von 20 Euro der Lotterie vorziehen.<br>
<br>
<div id='buttonvier' onclick="shownow()">Falls Slider nicht bewegbar, bitte hier klicken</div>
<div id="hideit">
  <b>Manuell einstellen:</b><br>
  <table class="centerTable" style="border-collapse: collapse; border-style: hidden;"  width = "40%">
         <thead>
          <tr>
  <td>Wahrscheinlichkeit der hohen Auszahlung:
  </td>
  <td>
<input name="risk"  type="text" id="textInput1" value="" size="1" style="text-align:center;">
</td>
 <td style="text-align:left;">
%
</td>
</tr>
  </thead>
</table>
</div>
{{ formfield_errors 'risk' }}
    <br>
    <br>
   <br>

   <p>
        <b>Frage 7</b>. Würden Sie ganz allgemein sagen, dass man den meisten Menschen vertrauen kann, oder dass man
       da gar nicht vorsichtig genug sein kann?
        <br>
        (<i>Antworten Sie bitte anhand der folgenden Skala. Der Wert 0 bedeutet: "Man kann nicht vorsichtig genug
        sein". Der Wert 10 bedeutet: "Man kann den meisten vertrauen". Mit den Werten dazwischen können Sie Ihre
        Einschätzung abstufen.)</i>
   </p>
        <p>{% formfield player.q_2_2 label="" %}</p>  <!-- field for q_2_2: trust -->

    <!-- Third block: exploitation and betrayal and F&S -->
    <p>
        <b>Frage 8</b>. Glauben Sie, die meisten Menschen würden Sie ausnutzen, sobald sich ihnen eine Möglichkeit
        bietet? Oder glauben Sie, die meisten Menschen würden sich fair verhalten?
        <br>
        (<i>Antworten Sie bitte anhand der folgenden Skala. Der Wert 0 bedeutet: "Die Menschen nutzen einen aus". Der
        Wert 10 bedeutet: "Die Menschen verhalten sich fair". Mit den Werten dazwischen können Sie Ihre Einschätzung
        abstufen.)</i>
    </p>
         <p>{% formfield player.q_2_3 label="" %}</p>  <!-- field for q_2_3: exploitation -->

 
    
    <p align="justify"><b>Frage 9</b>. Stellen Sie sich die hypothetische Entscheidungssituation im
        unteren Bild vor:  Sie sind "Person A" und werden zufällig mit einer anderen Person aus dieser Studie
        zusammengebracht: "Person B". Sie werden mit zwei Alternativen konfrontiert, "In" oder "Out".  Wenn Sie "Out"
        wählen, erhalten Sie und Ihr Gegenüber jeweils 10 Euro. Wenn Sie "In" wählen, hängt die Auszahlung von der
        Entscheidung Ihres Gegenübers ab. Ihr Gegenüber wählt dann zwischen "Gleichverteilung" oder "Ungleichverteilung". Wenn er/sie "Gleichverteilung"
        wählt, erhalten Sie und Ihr Gegenüber jeweils 15 Euro. Wenn er/sie stattdessen "Ungleichverteilung" wählt, erhalten Sie
        8 Euro und Ihr Gegenüber 22 Euro.
    </p>
        <img class=im5 style="margin-bottom:40px;" src="{% static "refgame/betr_aver.png" %}" />
    <p align="justify">Ihr Gegenüber, "Person B", wird Ihnen zufällig aus einer Gruppe von 20 anderen Teilnehmenden dieser Studie zugeteilt. Da diese Teilnehmenden ihre Entscheidung bezüglich der Optionen "Gleichverteilung" und "Ungleichverteilung" bereits getroffen haben, können wir Ihnen den genauen Anteil an "Personen B" mitteilen, welche die Option "Gleichverteilung" gewählt haben.<br></p>
    <b>Ab welcher Anteil an "Personen B", welche die Option "Gleichverteilung" auswählen (15 Euro für Sie, 15 Euro für Person B), würden Sie sich für Option "In" entscheiden (15 Euro oder 8 Euro für Sie)?</b>
    <br>
    <br>


     <div class=b width="80%" height="50px" style="text-align:left;">


                <input  type="range" min="0" max="20" step="1" value="" class="slider2" id="slider2"  onchange="updateTextInput2(this.value);" onclick="showhide2()">
                <span id="show2"></span>

                <span id="show5"></span>
                <p id="p1"><strong>20</strong></p>
                <p id="p2"><strong>0</strong></p>
                <p id="p3">|</p>
                <p id="p4">|</p>

                
  </div>

  <table cellpadding="8" width="80%">
        <tbody>
          <tr>
            <td>
                <span id="win"></span>
            </td>
            <td>
               &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <span id="lose"></span>
            </td>
        </tr>
    </tbody>
</table>
    
    <div id="inf"></div>

<b>Beispiel:</b> Angenommen, Sie geben "12 Personen" an. In diesem Fall bevorzugen Sie die Option "In", wenn die mindestens 12 von 20 Personen Option "Gleichverteilung" auswählen. Bei einer geringeren Anzahl an "Personen B", die sich für Option "Gleichverteilung" entscheiden, würden Sie Option "Out" auswählen.<br>
<br>
<div id='buttonvier1' onclick="shownow1()">Falls Slider nicht bewegbar, bitte hier klicken</div>
<div id="hideit1">
  <b>Manuell einstellen:</b><br>
  <table class="centerTable" style="border-collapse: collapse; border-style: hidden;"  width = "56%">
         <thead>
          <tr>
  <td>Anteil an Personen B, die Option "Gleichverteilung" auswählen:
  </td>
  <td>
<input name="betr"  type="text" id="textInput2" value="" size="1" style="text-align:center;">
</td>
 <td style="text-align:left;">
Personen
</td>
</tr>
  </thead>
</table>
</div>
{{ formfield_errors 'betr' }}
    <br>
    <br>

    <b>Frage 10</b>.
    
    <p align="justify">
        Stellen Sie sich vor, Sie müssen aus persönlichen Gründen in eine Ihnen unbekannte Großstadt reisen. Vom
        Flughafen aus können Sie zwischen zwei Taxiunternehmen wählen, um Ihr endgültiges Ziel zu erreichen, für das Sie
        die genaue Route nicht kennen. Unternehmen A berechnet Ihnen einen Festpreis von 12 Euro. Unternehmen B rechnet nach
        dem Taxameter ab. Wenn der Fahrer den direkten Weg nimmt, kostet es Sie 8 Euro. 1 von 5 Fahrern nimmt jedoch Umwege,
        um mehr Geld aus Ihnen herauszuholen und der Fahrpreis beträgt dann 16 Euro.
        <br>
        Geben Sie unten bitte an, welches Taxiunternehmen Sie wählen würden.
    </p>
        <p>{% formfield player.taxi label="" %}</p>

    <br>

        <b>Frage 11</b>. Angenommen, Sie und ein anderer Teilnehmer des Experiments (ein anderer Teilnehmer als in Frage 9 und 12) werden zusammen in eine Gruppe gelost.
        Sie erhalten 20 Euro vom Experimentator. Von diesen 20 Euro können Sie dem
        anderen Teilnehmer einen Beitrag X in Euro abgeben.
    </p>
        <ul>
            <li>Wenn Sie dem anderen Teilnehmer X Euro <b>abgeben</b>, erhalten Sie (20 - X) Euro.</li>
        </ul>
    <p>
        Beide Teilnehmer kennen die Regeln des Spiels. Welchen Beitrag X in Euro würden Sie dem anderen Teilnehmer
        abgeben?
    </p>
    <p>
        Ihr Beitrag (<i>Bitte geben Sie einen Euro-Betrag in ganzen Zahlen ein</i>):
        {% formfield player.q_1_5 label="" %}
    </p> <!-- field for q_1_5 -->


    <p>
        <b>Frage 12</b>. Angenommen, Sie und ein anderer Teilnehmer des Experiments (ein anderer Teilnehmer als in Frage 9 und 11)
        werden zusammen in eine Gruppe gelost. Der andere Teilnehmer erhält 20 Euro vom Experimentator.
        Von diesen 20 Euro kann nun der andere Teilnehmer Ihnen einen Beitrag X in Euro abgeben.
        Sie können diesen Vorschlag annehmen oder ablehnen.
    </p>
        <ul>
            <li>Wenn Sie diesen Vorschlag <b>annehmen</b>, erhalten Sie X Euro und der andere Teilnehmer (20 - X)
                Euro.</li>
            <li>Wenn Sie diesen Vorschlag <b>ablehnen</b>, erhalten Sie 0 Euro und auch der andere Teilnehmer 0
                Euro.</li>
        </ul>
    <p>
        Beide Teilnehmer kennen die Regeln des Spiels. Wie hoch muss der Vorschlag des anderen Teilnehmers
        <b>mindestens</b> sein, damit Sie diesen annehmen?
    </p>

    <p>
        Mindestvorschlag des anderen Teilnehmers (<i>Bitte geben Sie einen Euro-Betrag in ganzen Zahlen ein</i>):
        {% formfield player.q_1_6 label="" %}
    </p> <!-- field for q_1_6 -->

    <br>
    <p>
       Bitte melden Sie sich, wenn Sie eine Frage haben. Nutzen Sie hierfür bitte unseren <b>Chat</b>, der Ihnen
       unten rechts auf der Seite angezeigt wird. Wenn Sie keine weiteren Fragen haben, klicken Sie bitte auf
       <b>Weiter</b>.
    </p>
    <br>

    <button id="buttonfin" style="margin-top:10px;" onclick="store()" class="answer btn btn-success"  >Antworten abgeben</button>
<div id=wong> 
    {% formfield player.wrsl1 label="" %}
    {% formfield player.wrsl2 label="" %}
    </div>
{% include Constants.chat_template %}
{% endblock %}