{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Willkommen
{% endblock %}

{% block content %}

    <p style="text-align:center">
        <b> Herzlich Willkommen im virtuellen Magdeburger Experimentallabor MAXLAB! </b> 
    </p>

    <p> Bitte lesen Sie die Instruktionen aufmerksam durch und melden Sie sich, wenn Sie eine Frage haben. </p>
    	
    <p> In dem Experiment, an dem Sie jetzt teilnehmen, können Sie in Abhängigkeit Ihrer Entscheidungen und der Entscheidungen Ihrer Mitspieler Geld verdienen. Ihre Auszahlung aus dem Experiment wir in <i> LaborDollar </i> (LD) berechnet, wobei der Umrechnungskurs zwischen Euro und <b> LD 1:100 </b> ist,d.h., 100 LD entsprechen 1 Euro. </p>

    <p> Ihre Entscheidungen im Experiment treffen Sie <b> anonym </b>. Nur die Experimentatoren erfahren Ihre Identität, wobei Ihre angaben vertraulich behandelt werden. </p>

    <p> Bitte klicken Sie auf <b> Next </b>, um mehr über die Regeln des Experiments zu erfahren. </p>


    {% formfields %}

    {% next_button %}

{% endblock %}
